body {
    font-family: sans-serif;
    margin: auto;
    max-width: 1280px;
    background-color: #313236;
}

.navbar {
    background-color: #313236;
    border-radius: 2px;
    max-width: 800px;
}

.navbar a {
    color: #aaa;
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
}

.navbar a:hover {
    color: #ffffff;
}

.pgmImage {
    background-image: url('https://gitlab.com/StickAndbindleGames/stickandbindlegames.gitlab.io/-/raw/master/public/PianoRoll.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

